doctype html
html
  head
    title Raziel - Explorer
    script(src="https://code.jquery.com/jquery-1.11.3.js")
    script(src='/vendor/requirejs/require.js' data-main="/javascripts/main")
  body
    div(data-bind='component: { name: "raziel-explorer", params: {} }')
  

    
