<div class='row'>
  <div class='col-md-10'>
    <div>&nbsp;</div>
    <div>


      <a href="javascript:void(0)" data-bind="click: path.gotoRoot, visible: !path.isAtRoot()">raziel://</a>

      <span data-bind="foreach: path.crumbs">
        <a href="javascript:void(0)" data-bind="text: name, click: $parent.path.setLocation"></a> /
      </span>

      &nbsp;
  </div>
  <h1 data-bind="text: path.name" style='margin-top: 0'></h1>
  <hr>
</div>

<div class='row'>
  <div class='col-md-8'>
    <ul class='nav nav-pills nav-stacked' data-bind="foreach: items">
      <li>
        <!-- ko if: isTree() -->
          <a href="javascript:void(0)" data-bind="click: $parent.gotoTree" href="#">
            <span class='glyphicon glyphicon-folder-open'></span>
            &nbsp;
            <span data-bind="text: name"></span>
          </a>
        <!-- /ko -->
        <!-- ko if: isLeaf() -->
          <a href="javascript:void(0)" data-bind="click: $parent.openFile" href="#">
            <span class='glyphicon glyphicon-file'></span>
            &nbsp;
            <span data-bind="text: name"></span>
          </a>
        <!-- /ko -->
      </li>
    </ul>
  </div>
</div>
