<div class='row'>
  <div class='col-md-10'>
    <div>&nbsp;</div>
    <div>
      <a href="javascript:void(0)" data-bind="click: path.gotoRoot, visible: !path.isAtRoot()">raziel://</a>

      <span data-bind="foreach: path.crumbs">
        <a href="javascript:void(0)" data-bind="text: name, click: $parent.path.setLocation"></a> /
      </span>

      &nbsp;
    </div>
    <h1 data-bind="text: path.name" style='margin-top: 0'></h1>
    <hr>
  </div>
</div>

<div class='row'>
  <div class='col-md-8'>
    <ul class='nav nav-pills nav-stacked' data-bind="foreach: items">
      <li data-bind="css: { active: selected }">
        <!-- ko if: isTree() -->
          <a href="javascript:void(0)" data-bind="click: $parent.gotoTree" href="#">
            <span class='glyphicon glyphicon-folder-open'></span>
            &nbsp;
            <span data-bind="text: name"></span>
          </a>
        <!-- /ko -->
        <!-- ko if: isLeaf() -->
          <a href="javascript:void(0)" data-bind="click: $parent.openFile" href="#">
            <span class='glyphicon glyphicon-file'></span>
            &nbsp;
            <span data-bind="text: name"></span>
          </a>
        <!-- /ko -->
      </li>
    </ul>
  </div>

  <div class='col-md-4' data-bind='visible: selectedFile, with: selectedFile'>
    <div class='panel panel-primary'>
      <div class='panel-heading'>
        <div class='panel-title' data-bind="text: name"></div>
      </div>
      <table class='table' data-bind='with: latest'>
        <tbody>
          <tr data-bind='visible: name'>
            <th>Name</th>
            <td data-bind='text: name'></td>
          </tr>
          <tr>
            <th>Version</th>
            <td>
              <span data-bind="text: version"></span>
              <span class='label label-danger' data-bind='text: tag, visible: tag'></span>
            </td>
          </tr>
          <tr>
            <th>Mimetype</th>
            <td>
              <code data-bind="text: mimetype"></code>
            </td>
          </tr>
          <tr>
            <th>Size</th>
            <td data-bind="text: size"></td>
          </tr>
          <tr>
            <td colspan='2'>
              <a class='btn btn-success' data-bind='attr: { href: downloadUrl }' target='_blank'>
                <span class='glyphicon glyphicon-download'></span>
                Download
              </a>

              <a class='btn btn-info pull-right' data-bind='attr: { href: infoUrl }' target='_blank'>
                <span class='glyphicon glyphicon-info-sign'></span>
                Details
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
